[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-admin = "*"
flask-login = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-babelex = "*"
flask-migrate = "*"
pymysql = "*"
flask-script = "*"

[requires]
python_version = "3.6"
