<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

     <div class="container mt20">
                        <div class="panel">
                        <form class="form-horizontal" method="post" action="/login/auth/">
                        <legend>login</legend>

                        <div class="control-group">
                                <label class="control-label">email</label>
                                <div class="controls">
                                    <input type="text" name="email" placeholder="email" value="">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">password</label>
                                <div class="controls">
                                    <input type="password" placeholder="password" name="password">
                                </div>
                                </div>

                        <div class="control-group">
                                <div class="controls">
                                    <input type="submit" class="btn btn-primary" value="Login">
                                </div>
                            </div>

                        </form>

                        </div>
         </div>


</body>
</html>
